html {
    width: 100vw;
}

body {
    width: 100vw;
}

#content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

#content-layout {
    min-width: 720px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

#left-area {
    width: 100%;
}

#right-area {
    width: 100%;
}

.alticle-info {
    height: 10rem;
}

.alticle-info>a {
    width: 30%;
}

@media only screen and (min-width : 100px) and (max-width : 480px) {
    .alticle-baseinfo>a>h1 {
        overflow: hidden;
    }

    #content-layout {
        min-width: 100px;
    }

    #header {
        height: 30rem;
        background-attachment: unset;
    }

    #next-page {
        display: none;
    }

    #initial-bar {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #initial-bar:hover {
        background-color: cadetblue;
        height: fit-content;
        align-items: center;
        border-radius: 0 0 16px 16px;
        width: fit-content;
        /* height: fit-content; */
        animation: slowlyopen 0.5s 1 ease-out;
    }

    #menu-btn {
        display: flex;
        cursor: pointer;
    }

    #menu-btn>svg {
        width: 32px;
        height: 32px;
        margin-top: 16px;
    }

    .main-menu-item {
        margin: 0 16px 16px 16px;
    }

}

@keyframes slowlyopen {
    0% {
        height: 100%;
    }

    100% {
        height: 330px;
    }
}

@keyframes loop {
    0% {
        transform: translateX(300px);
        -webkit-transform: translateX(300px);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes loop {
    0% {
        transform: translateX(300px);
        -webkit-transform: translateX(300px);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}