{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<div id="alticlelist" class="data-block">
    <div class="block-title">
        <div class="block-title-name">
            <span>📝 最新文章</span>
        </div>
    </div>
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ if $pages }}
        {{ range $pages }}
        <div class="alticle-info">
            <a href="{{ .RelPermalink }}">
                {{ if .Params.image }}
                <div class="alticle-img" style="background-image: url('{{ .Params.image }}');"></div>
                {{ else }}
                <div class="alticle-img" style="background-image: url('https://cdn.staticaly.com/gh/DaiwuShen/daiwuImageBed@main/webP/informatrixspace-informatrix-16.27y0r3eip9mo.webp');"></div>
                {{ end }}
            </a>
            <div class="alticle-baseinfo">
                <div class="alticle-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
                <div class="alticle-meta">
                    <span class="alticle-date">{{ .Date.Format "2006-01-02" }}</span>
                    {{ with .Params.categories }}
                    <span> | 分类：{{ delimit . " / " }}</span>
                    {{ end }}
                    {{ with .Params.tags }}
                    <span> | 标签：
                        {{ range . }}
                        <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </span>
                    {{ end }}
                </div>
                <div class="description">{{ .Summary | plainify | truncate 200 }}</div>
            </div>
        </div>
        {{ end }}
    {{ else }}
        <div style="text-align: center; padding: 60px 20px; color: #808080;">
            <p style="font-size: 48px; margin: 0;">📭</p>
            <p style="font-size: 18px;">还没有文章，等我慢慢填坑～</p>
        </div>
    {{ end }}
</div>
{{ end }}
