{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="tool-card">
    <div class="tool-card-header">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.971-.148.148a1 1 0 0 0 .292.707l1.216 1.216a2 2 0 0 0 2.829 0l.115-.115a2 2 0 0 0 0-2.829l-1.216-1.216a1 1 0 0 0-.707-.293l-.148.148-.971-.97 2.617-2.654a3.003 3.003 0 0 0-5.878-.851l-.148.148L5.247 5.22a1 1 0 0 0-.293-.708v-.071a1 1 0 0 1-.419-.814L1 0z"/>
        </svg>
        <h2>{{ .Title }}</h2>
        {{ if .Params.version }}<span class="version">{{ .Params.version }}</span>{{ end }}
    </div>
    {{ if .Params.description }}
    <div class="tool-card-description">{{ .Params.description }}</div>
    {{ end }}
    <div class="tool-card-content tool-content">
        {{ .Content }}
    </div>
</div>
{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/css/toolstyle.css">
{{ if .Params.script }}
<script src="{{ printf "/js/%s" .Params.script }}"></script>
{{ end }}
{{ end }}
